{
  "name": "__PACKAGE_NAME__",
  "version": "__VERSION__",
  "description": "CodeGauge executable for __TARGET__",
  "license": "MIT",
  "repository": "yacosta738/codegauge",
  "os": ["__OS__"],
  "cpu": ["__CPU__"],
  "bin": {
    "codegauge": "bin/__BINARY__"
  },
  "files": ["package.json", "bin/__BINARY__"],
  "engines": {
    "node": ">=18"
  }
}
